/*
共通
*/
* {
  box-sizing: border-box;
}
html,body {
  padding: 0;
	max-width: 100%;
  max-height:100%;
  margin: 0 auto;
  width:100%;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-image: url("image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
#wrap{
  background-color:rgba(0, 0, 0, 0.603);
  width:100%;
  padding-bottom:10%;
}
@import url('https://fonts.googleapis.com/css?family=Sacramento');
nav{
  width: 100%;
  height: 90px;
  background-color:#716e77;
  font-family: 'Sacramento', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:180%;
  box-shadow: 0 2px 6px;
  padding:10px;
}
.nav-item{
  color:white;
}
main{
  color:white;
  margin: 0% 20% 0% 20%;
}
#about_flex{
  display: flex;
  align-items: center;
}
h3{
  font-family: 'Sacramento', cursive;
  font-size:180%;
  margin:10% 0% 5% 0%;
  border-bottom:1px solid #D87575;
}
a{
  text-decoration: initial;
  color:white;
}
#about,#Likes,#Skills,#Experience,#Links{
  animation-name:fadeIn;
  animation-duration: 3s;
}

/* icon */
.fa-heart{
  color:#D87575;
}


@keyframes fadeIn {
  from{
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@media screen and (max-width:780px){
  main{
    margin:1%;
  }
  #about_flex{
    display: initial;
  }
}