
#parallax-bg {
  height:500px;
  background-image: url('image1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap{
  padding-top:100px;
  background-color: rgba(68, 68, 68, 0.397);
  height: 100%;
  color:#f6f6f6;
}
#image4{
  max-width:50%;
}