/*
トップページ用
*/
/*個別*/
html,body {
  background-color:#305f72;
}
div {
  color: white;
  width:100%;
}
.parallax-bg {
  background-image: url('image1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
}
.parallax-bg2 {
  height:40%;
  width:100%;
  background-image: url('image2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*見出し*/
h1 {
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  font-family: 'Vollkorn', serif;
  letter-spacing: -3px;
  color: white;
  font-size: 500%;
  font-weight: lighter;
  max-width:100%;
}


/*logo*/
#top_logo{
  font-size:120%;
  margin:0 auto;
  margin-right:20%;
  margin-left:20%;
  padding:2%;
}
/* content_button */
.ghost {
  display: inline-block;
  width:20%;
  padding-top:15px;
  padding-bottom:15px;
  margin-left:5%;
  margin-right:5%;
  letter-spacing : 1px;
  color:white;
  background-color: transparent;
  border: dashed 1px white;
  transition: .2s ease;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.411));
}
.ghost:hover{
  border: solid 1px white;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.411));
  transition: .2s ease;
  top:1px;
}

/*content*/
.content{
  text-align: center;
}
.wrap{
  display: flex;
  height:100%;
  background-color: rgba(68, 68, 68, 0.493);
}
.wrap2{
  display:flex;
  background-color: rgba(68, 68, 68, 0.493);
  padding-right:5%;
  padding-left:5%;
  padding-top:5%;
  padding-bottom:10%;
}


@media (max-width: 800px){
  h1{
    font-size: 400%;
  }
  .ghost {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top:15px;  
  }
}