/*
共通
*/
* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
	max-width: 100%;
	max-height:100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  background-color:#F4DCDC;
}
#body_wrap{
  overflow: hidden;
}
a{
  text-decoration: none;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color:white;
}
p{
  font-size:105%;
  letter-spacing: 1px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
/*content*/
.content1{
  transition: 3s;
  opacity: 0;
  text-align: left;
  margin:5%;
  margin-right:20%;
  margin-left:20%;
}
.fadein_content1{
  opacity: 1.0;
}
.content_1{
  color:white;
  padding:5%;;
}
.content_2{
  color:white;
  width:70%;
  margin-left:20%;
}
h2{
  width:100%;
  background-color:#504946;
  padding:2px;
  margin-top:10%;
  margin-bottom:10%;
  text-align:center;
  letter-spacing: 3px;
}

/*icon*/
@font-face {
  font-family: 'LigatureSymbols';
  src: url('../fonts/LigatureSymbols-2.11.eot');
  src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
       url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
       url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.lsf-icon, .lsf-icon:before {
font-family: 'LigatureSymbols';
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-ms-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
-webkit-font-feature-settings: "liga" 1, "dlig" 1;
-moz-font-feature-settings: "liga=1, dlig=1";
-ms-font-feature-settings: "liga" 1, "dlig" 1;
-o-font-feature-settings: "liga" 1, "dlig" 1;
font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
content:attr(title);
margin-right:0.3em;
}
.lsf-icon.hatena:before{
content:'\E161';
}
#icon{
color: #F4DCDC;
margin-right:10px;
}
#icon:hover{
color: #F4DCDC;
}
#sns_icon{
  text-decoration: none;
  font-size:50px;
  color: #F4DCDC;
}
#sns_icon:hover{
  color: #F4DCDC;
}
/*link*/
.link{
  font-size:initial;
  color: initial;
  text-shadow: initial;
  text-decoration: none;
  color:white;
}
.link:hover{
  text-decoration: none;
  color:white;
  transition: .2s ease;
}

@media (max-width: 700px){
  .content1{
    margin-right:initial;
    margin-left:initial;
  }
  .content_1{
    padding:5%;
  }
  .content_2{
    width:100%;
    padding:5%;
    margin-left:initial;
  }
  [class^="content-flex"] {
    display:initial;
  }
  .flex_1{ 
    text-align: center;
    overflow: initial;
    max-width: 100%;
  }
  #image4{
    max-width:50%;
    margin:5%;
  }
  .flex_2 { 
    padding:initial;
    overflow: initial;
    width: 100%;
  }
}