/*
共通
*/
* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 300;
	max-width: 100%;
	max-height:100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  background-image:url('image1.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
#profile{
  text-align:center;
  padding:0% 5% 0% 5%;
}
#content{
  margin:0% 5% 0% 5%;
  padding:5%;
  background-color:rgb(255, 255, 255);
  color:#555555;
  text-align:left;
}
#star_content{
  text-align:right;
}
#star_content2{
  text-align:left
}
#star{
  font-size:200%;
  color: #8785a2;
  animation-name: star;
  animation-duration:5s;
  animation-iteration-count: infinite;
}

/*flex*/
#flex{
  height:250px;
  display:flex;
  justify-content: left;
  align-items: center;
}
.item{
  width:calc(100%/2);
}

#rotate_content{
  animation-name: fadeIn;
  animation-duration:5s;
  animation-fill-mode: forwards;
  font-size:200%;
  font-weight:bold;
  color:#82c0cd;
}
a{
  text-decoration: none;
  font-family: sans-serif;
  color:#555555;
}
p{
  font-size:105%;
  font-family: sans-serif;
}
img{
  max-width: 100%;
}
#head-img{
  height:250px;
  text-align: left;
}
#footer{
  text-align:right;
}
#footer-img{
  height:250px;
  animation-name: rotate2;
  animation-duration:3s;
  animation-fill-mode: forwards;
}

/*animation*/
@keyframes star{
  from{
  }
  to{
    transform: rotate(-360deg);
  }
}

/*icon*/
@font-face {
  font-family: 'LigatureSymbols';
  src: url('../fonts/LigatureSymbols-2.11.eot');
  src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
       url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
       url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.lsf-icon, .lsf-icon:before {
font-family: 'LigatureSymbols';
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-ms-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
-webkit-font-feature-settings: "liga" 1, "dlig" 1;
-moz-font-feature-settings: "liga=1, dlig=1";
-ms-font-feature-settings: "liga" 1, "dlig" 1;
-o-font-feature-settings: "liga" 1, "dlig" 1;
font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
content:attr(title);
margin-right:0.3em;
}
.lsf-icon.hatena:before{
content:'\E161';
}
#icon{
color: #555555;
margin-right:10px;
}
#icon:hover{
color: #555555;
}
#sns_icon{
  text-decoration: none;
  font-size:50px;
  color: #555555;
}
#sns_icon:hover{
  color: #555555;
}
/*link*/
.link{
  font-size:initial;
  color: initial;
  text-shadow: initial;
  text-decoration: none;
  color:white;
}
.link:hover{
  text-decoration: none;
  color:white;
  transition: .2s ease;
}

@media (max-width: 700px){
  #profile{
    padding:0% 0% 0% 0%;
    width:100%;
  }
  #content{
    margin:initial;
    width:100%;
  }
}