body{
    padding-left:3%;
    padding-right:3%;
}

.content{
    padding: 0.3em 3em;
    margin: 2em 0;
    border: double 8px rgb(139, 53, 53);
    color:#333333;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom:30px;
  }
.content a{
  color:#333333;
  text-decoration: none;
}
.content a:hover{
color:#333333;
position: relative;
border-bottom:solid 2px rgb(139, 53, 53);
}
.content a:visited{
color:#333333;
  text-decoration: none;
}

.content a:hover::before {
    content: "";
    position: absolute;
    left:  -0.5em;
    font-size:1.5em;
    top: 0.2em;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 13px solid #B59658;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: rotate(15deg);
}
.content a:hover:after{
    content: "";
    font-size:1.4em;
    position: absolute;
    left: 0em;
    top: 0.7em;
    font-size:1.5em;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 13px solid #B59658;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: rotate(75deg);
}
.content h2{
 color:#6B8B6E;
border-bottom:#fff;
}
.content h1{
position: relative;
padding: 10px;
padding-left:2em;
border-bottom:#fff;
}

.content h1::before{
content: "♥";
color: #6B8B6E;
font-size:2em;
position: absolute;
left: 0;
top: -0.3em;
}
.content h1::after{
content: "♥";
font-size:1.1em;
position: absolute;
left: 0.8em;
top: 0.6em;
color: #B59658;
}


@media(max-width:969px){ 
    body{
        padding-left:initial;
        padding-right:initial;
        background-color: #fff;
    }
    .content{
        padding: initial;
        margin:initial;
        border: initial;
        color:#333333;
        border-radius: initial;
    }
    .content h1{
        position: relative;
        padding-left:initial;
    }
    .content h1::before{
    content: initial;
    color: initial;
    font-size:initial;
    position: initial;
    left:initial;
    top: initial;
    }
    .content h1::after{
    content: initial;
    font-size:initial;
    position: initial;
    left: initial;
    top: initial;
    color: initial;
    }
    .content a{
    color:#333333;
    text-decoration: none;
    }
    .content a:hover{
    color:#333333;
    position: initial;
    text-decoration: none;
    border-bottom:initial;
    }

    .content a:visited{
    color:#333333;
    text-decoration: none;
    }

    .content a:hover:before{
    content: initial;
    font-size:initial;
    position: initial;
    left:  initial;
    top: initial;
    color: initial;
    text-decoration: initial;
    transform: initial;
    }

    .content a:hover:after{
    content: initial;
    font-size:initial;
    position: initial;
    left: initial;
    top: initial;
    color: initial;
    transform: initial;
    }
}

