body{
    background-color:#232a53;
    padding-left:10%;
    padding-right:10%;
}
.section a,a:hover:visited:link:visited {
    color:#192152;
    font-weight: bolder;
}
.section{
    background-color:#fff;
    border:solid 7px #6c2735;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:20px;
}
.section p{
    padding-left: 20px;
    text-align:left;
    color:#4e4848;
}
.section u{
    color:#192152;
    font-weight: bolder;
    text-decoration: none;
}

.section h2:first-letter {
    margin-right: .1em;
    font-size: 1.5em;
    color:#192152;
}
.section h2 {
    position: relative;
    color: #333333;
    line-height: 1.4;
    padding:0.25em 1em;
}
.section h2:before {
    content: "　*";
    position: absolute;
    background: #6c2735;
    color:#192152;
    top: 0%;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 30px solid #6c2735;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: -10px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    transform: rotate(55deg);
}
.section h2:after {
    content: "　*";
    position: absolute;
    background: #6c2735;
    color:#192152;
    top: -26%;
    width: 0px;
    height: 0px;
    background: transparent;
    border-bottom: 30px solid #6c2735;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    transform: rotate(120deg);
}

@media(max-width:969px){
    body{
        padding-left:initial;
        padding-right:initial;
        padding-top:5%;
        padding-bottom:5%;
    }
    .section{
        border:initial;
        padding-left: 1%;
        padding-right:1%;
        padding-bottom:2%;
    }
    .section p{
        padding-left: initial;
    }
    .section h2:before {
        top: 0%;
        left: -3px;
        transform: rotate(55deg);
        color:#fff;
    }
    .section h2:after {
        top: -26%;
        left: 30px;
        transform: rotate(120deg);
        color:#fff;
    }
}