* {
  box-sizing: border-box;
}
@font-face {
    font-family: 'LigatureSymbols';
    src: url('fonts/LigatureSymbols-2.11.eot');
    src: url('fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.lsf-icon:before {
content:attr(title);
margin-right:0.3em;
font-size:130%;
}
.lsf-icon.hatena:before{
  content:'\E161';
}


body {
  font-family: 'Century Gothic';
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(background.JPG);
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  border-radius: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
h1{
  font-family: 'Verdana';
  letter-spacing : 0.42em;
  padding-left:30%;
  text-align: left;
  text-shadow: 
  1px 1px #f5b2ac, -1px -1px #f5b2ac, 
  1px -1px #f5b2ac, -1px 1px #f5b2ac, 
  0px 1px #f5b2ac, 1px 0px #f5b2ac, 
  -1px 0px #f5b2ac, 0px -1px #f5b2ac;
}
h4{
    font-weight: 300;
    color: white;
}
.row {
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sm {
  width: 10%;
}
.cta {
  background-color: white;
  color: white; 
  transition: .2s ease;
}
.cta:hover{
    background-color: darken(white, 5%);
    color: white;
    border: 1px solid white;
    transition: .2s ease;
}

.ghost {
  font-family: 'Verdana';
  letter-spacing : 0.42em;
  text-shadow: 
  1px 1px white, -1px -1px white, 
  1px -1px white, -1px 1px white, 
  0px 1px white, 1px 0px white, 
  -1px 0px white, 0px -1px white;
  background-color: transparent;
  border: 1px solid white;
  transition: .2s ease;
}
.ghost:hover{
  text-shadow:initial;
    background-color: #f5b2ac;
    border: 1px solid #f5b2ac;
    color: white;
    transition: .2s ease;
}
#category_折りたたみA {
    text-decoration: none;
}
.close{
  transition: .5s ease;
  display: none;
  text-decoration: none;
}
.open{
    padding-left:30%;
    text-align: left;
    color: white;
    transition: .5s ease;
    font-weight: 300;
}

#icon{
    padding-left:10px;
    color:#f5b2ac;
}
#icon:hover{
  text-decoration: none;
  color:#f5b2ac;
}
.open a,a:hover:visited:link:visited {
  color: #f5b2ac;
  text-decoration: none;
}
#sns_icon{
  text-decoration: none;
  padding-left:10px;
  font-size:30px;
  color:#f5b2ac;
}
#sns_icon:hover{
  text-decoration: none;
  color:#f5b2ac;
}

hr{
    height: 1px;
    background-color: #f5b2ac;
    border: none;
}


@media (max-width: 800px){
  .row{
    margin: initial;
  }
  .sm {
    width: 100%
  }
  .row {
    text-align: initial;
  }
  h1, h4 {
    padding-left: initial;
    text-align: left;
  }
  .open{
    padding-left:initial;
  }
}
