* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans Serif';
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(background.JPG);
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  border-radius: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
h1{
  color:#f5b2ac;
  padding-left:30%;
  text-align: left;
}
h4{
    font-weight: 300;
    color: #a5d1f4;
}

.row {
  width: 100%;
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.btn {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sm {
  width: 10%;
}
.cta {
  background-color: #a5d1f4;
  color: white; 
  transition: .2s ease;
}
.cta:hover{
    background-color: darken(#a5d1f4, 5%);
    color: #a5d1f4;
    border: 1px solid #a5d1f4;
    transition: .2s ease;
}

.ghost {
  background-color: transparent;
  color: #a5d1f4;
  border: 1px solid #a5d1f4;
  transition: .2s ease;
}
.ghost:hover{
    background-color: #a5d1f4;
    color: white;
    transition: .2s ease;
}
#category_折りたたみA {
    text-decoration: none;
}
.close{
    display: none;
    text-decoration: none;
    transition: .5s ease;
}
.open{
    padding-left:30%;
    text-align: left;
    color: #a5d1f4;
    transition: .5s ease;
    font-weight: 300;
}
.open h2{
  color:#f5b2ac;
}
#icon{
    padding-left:10px;
    color: #a5d1f4;
}
#icon:hover{
    transform: rotate(20deg);
    transition: .5s ease;
}
.open a,a:hover:visited:link:visited {
    color:#a5d1f4;
    font-weight: bolder;
    text-decoration: none;
}
hr{
    height: 1px;
    background-color: #f5b2ac;
    border: none;
}

@media (max-width: 800px){
  .sm {
    width: 100%
  }
  .row {
    text-align: initial;
  }
  h1, h4 {
    padding-left: 0%;
    text-align: left;
  }
  .open{
    padding-left:initial;
  }
}
